@import "tailwindcss";

*{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-style: medium;
}

::-webkit-scrollbar {
  display: none;
}

.carousel-indicators [data-bs-target] {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
}

.text-flow-1{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}